<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">imangine</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/imangine</property>
        <property name="hibernate.connection.username">imangine</property>
        <property name="hibernate.current_session_context_class">jta</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="imangine/database/entity/Friend.hbm.xml" />
        <mapping resource="imangine/database/entity/Group.hbm.xml" />
        <mapping resource="imangine/database/entity/PictureLiked.hbm.xml" />
        <mapping resource="imangine/database/entity/Picture.hbm.xml" />
        <mapping resource="imangine/database/entity/PictureComment.hbm.xml" />
        <mapping resource="imangine/database/entity/AlbumComment.hbm.xml" />
        <mapping resource="imangine/database/entity/AlbumLiked.hbm.xml" />
        <mapping resource="imangine/database/entity/GroupMember.hbm.xml" />
        <mapping resource="imangine/database/entity/GroupComment.hbm.xml" />
        <mapping resource="imangine/database/entity/AlbumIncluded.hbm.xml" />
        <mapping resource="imangine/database/entity/User.hbm.xml" />
        <mapping resource="imangine/database/entity/Album.hbm.xml" />
        <mapping resource="imangine/database/entity/PictureTag.hbm.xml" />
    </session-factory>
</hibernate-configuration>
